@model HMSCore.Areas.Admin.Models.DoctorPatientSeenPageVM
@{
    ViewData["Title"] = "Patients Appointment";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Seen Patients Appointment Report</h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Dashboard"><i class="fa fa-home"></i> Home</a></li>
        <li class="active">Seen Patients Appointment Report</li>
    </ol>
</section>

<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <div class="pull-left">
                <button type="button" id="btnPrint" class="btn btn-primary">Print</button>

            </div>

            <div class="pull-right">
                <form method="get" class="form-inline">
                    <select class="form-control input-sm" asp-for="FilterColumn">
                        <option value="">-- Select --</option>
                        <option value="DoctorName" selected='@(Model.FilterColumn == "DoctorName" ? "selected" : null)'>Doctor Name</option>
                        <option value="Phone" selected='@(Model.FilterColumn == "Phone" ? "selected" : null)'>Phone</option>
                        <option value="Email" selected='@(Model.FilterColumn == "Email" ? "selected" : null)'>Email</option>
                    </select>


                    <input type="text" name="keyword" value="@Model.Keyword" class="form-control input-sm" placeholder="Search" />
                    <button type="submit" class="btn btn-primary btn-flat">Search</button>
                    <a href="/admin/OpdMis/PatientAppointmentMIS" class="btn btn-default btn-flat">Show All</a>
                </form>
            </div>
        </div>

        <div class="box-body table-responsive" id="printableArea">
            <table id="appointmentTable" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Doctor Name</th>
                        <th>Mobile No.</th>
                        <th>Email</th>
                        <th>Patients Seen (Done)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var row in Model.Records)
                    {
                        <tr>
                            <td>@row.DoctorName</td>
                            <td>@row.MobileNu</td>
                            <td>@row.Email</td>
                            <td>@row.PatientSeenCount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="box-footer" id="printableFooter">
            <strong>Total Doctors:</strong> @Model.TotalDoctors
            &nbsp; | &nbsp;
            <strong>Total Patients Seen:</strong> @Model.TotalPatientsSeen
        </div>
    </div>
</section>

@section Scripts {

    <script src="~/adminassets/dist/js/appointmentprintjs.js"></script>
}




